
<ion-content>
  <div class="bar"> 
    <ion-button slot="start"> <ion-back-button defaultHref="home"></ion-back-button></ion-button>
    <h2>A propos</h2>
  </div>
  <div>
    <p>
      App_Paiement est une application de gestion d'infraction qui: <br>
      •	Faciliter le travail des agents de police lorsqu’ils contrôlent les automobilistes en circulation,<br>
      •	Éviter les pots de vins qui ne vont pas dans la caisse de la nation ,<br>
      •	Et de permettre à la population de connaître les amandes pour chaque infraction.<br>

      Lors d’un infraction le policier se connecte sur l’application. <br>
      Après il prend option infraction et choix l’infraction que l’intéresse à commis parmi 
      les différents types d’infractions puis il donne le Numéro matricule sur la vignette de la moto ou la matricule de la carte grise du véhicule 
    </p>
  </div>

</ion-content>
